@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
}
#page{
    background: url(../img/clouds-2329680_1920.jpg) no-repeat center top / cover;
    min-height:100vh;
    overflow: hidden;
    padding-top: 160px;
}


#block_uuid{

    width: 450px;
    height: 350px;
    border: 14px solid #FFFFFF;
    border-radius: 50px;
    margin-left: 32%;
    padding: 20px;

}
p{
    font-family:'Oswald', sans-serif;
    font-size: 20px;

}
#guide_text{
    margin-top: 90px;
    color: #fff;
    border-radius: 10px;
}
.uuid_code{
    margin-top: 20px;
    color: #FFFFFF;
    border-radius: 10px;
}