@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
*{
    margin:0px;
    padding: 0px;
}
#index{
    height: 300px;
    width: 350px;
    border: 1px solid black;
    background-color:#1E1E1E;
}
#app_name{
    text-align:center;
    color:#F6802B;
    font-family:'Oswald', sans-serif;
    margin-top:15px;
}
/*form create uuid*/
.form{
    margin-top:15px;
    margin-left: 10%;
}
.button{
    width:80px;
    height:25px;
    font-family:'Oswald', sans-serif;
    font-size:12px;
}
#create_uuid_form{
    float: left;
}
.input_field{
    width:200px;
    height:20px;
    font-family:'Oswald', sans-serif;
    font-size:12px;
    margin-bottom: 10px;
}
.page_text{
    color:#F6802B;
    font-family:'Oswald', sans-serif;
    font-size: 16px;
}
#enter_uuid_field{
    width: 283px ;
}
#hidden_block{
    width: 100%;
    height: 50px;
}
.additional{

    margin-top:15px;
    position:absolute;
    display: none;



}
#remove{
    margin-top: 30px;
}
#show_button{
    margin-left: 69%;
    margin-top:15px;
}

